.homeSection {
	position: relative;
	background: var(--primary-color);
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--side-padding);
	z-index: 999999;
}
.left {
	flex: 0.5;
	position: relative;
}
.left > h1 {
	font-size: 6rem;
	font-weight: 600;
}
.left > p {
	font-size: 2.4rem;
	font-weight: 500;
	margin: 3rem 0;
}
.leftBottom {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}
.arrow {
	margin-right: 5rem;
}
.right {
	flex: 0.5;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.homeGraphics {
	position: absolute;
	bottom: -10rem;
	left: -25rem;
	z-index: -1;
}
@media screen and (min-width: 1441px) {
	.left > h1 {
		font-size: 8rem;
	}
	.left > p {
		font-size: 3rem;
	}
	.right > img {
		width: 62rem;
	}
}
