@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

:root {
	--white: #fff;
	--black: #000;
	--primary-color: #b6f214;
	--side-padding: 7rem;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Work Sans", sans-serif;
}
